@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin centerhorizontal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
//Media query manger

/*
0-->600px : Phone
600-->900px : tablet

*/
