$color-primary: #55c57a;
$color-primary-light: #76d56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

//color-variable for _home partial
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
//color variable for Card

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

//stying input border

$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-tortiary-light: #2998ff;
$color-tortiary-dark: #5643fa;

//styling links of the footer
$color-accent-fg: #58a6ff;
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//global font-size text:
$default-font-size: 1.6rem;
