.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}
	&__input {
		font-size: 1.5rem;
		padding: 1.5rem 2rem;
		font-family: inherit;
		border-radius: 0.2rem;
		color: inherit;
		background-color: rgba($color-white, 0.5);
		border: none;
		border-bottom: 5px solid transparent;
		width: 90%;
		display: block;
		transition: all 0.7s;

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.5);
			border-bottom: 5px solid $color-primary-dark;
		}
		&:focus:invalid {
			border-bottom: 5px solid $color-secondary-dark;
		}
		&::-webkit-input-placeholder {
			color: $color-grey-dark-2;
		}
	}
	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.2s ease-out;
	}
	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	&__radio-group {
		display: inline-block;
	}

	&__radio-label {
		font-size: $default-font-size;
		cursor: pointer;
		padding-right: 8rem;
		width: 50%;
		position: relative;
		padding: 4rem;
	}
	&__radio-input {
		display: none;
	}
	&__radio_button {
		height: 2rem;
		width: 2rem;
		border: 0.4rem solid $color-primary;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		top: 4.2rem;
		left: -0.5rem;

		&::after {
			content: '';
			display: block;
			height: 1rem;
			width: 1rem;
			border-radius: 50%;
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translate(-50%);
			background-color: $color-primary;
			opacity: 0;
			transition: opacity 0.2s;
		} /*  magic tick behind showing the custom radio btn*/
	}
	&__radio-input:checked ~ &__radio-label &__radio_button::after {
		opacity: 1;
	}
}
